<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      На портале "Техподдержка УИВТ" изменен вопрос:
      <a href="https://inv-dev.iss-reshetnev.ru:4200/categories/<%= @ticket.service.category.id %>/services/<%= @ticket.service.id %>?ticket=<%= @ticket.id %>">
        <%= @ticket.name %>
      </a>
    </p>
    <p>в разделе <strong><%= @ticket.service.category.name %></strong> → <strong><%= @ticket.service.name %></strong></p>
    <p>ответственным <%= @current_user.details.full_name %> <%= @ticket.correction.updated_at.strftime('%d.%m.%Y %H:%M') %></p>
  </body>
</html>