<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      На портале "Техподдержка УИВТ" изменен вопрос:
      <a href="<%= @question.link_to_admin_ui(@origin) %>">
        <%= @question.ticket.name %>
      </a>
    </p>
    <p>в разделе <strong><%= @question.service.category.name %></strong> → <strong><%= @question.service.name %></strong></p>
    <p>ответственным <%= @current_user.details.full_name %> <%= @updated_date.strftime('%d.%m.%Y %H:%M') %></p>
  </body>
</html>
